---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import handshake from "../../images/handshake.png";
import gd from "../../images/g&d.png";
import horizon from "../../images/horizon.png";
import horizonJoinery from "../../images/horizon joinery.png";
import autovision from "../../images/autovision.png";
import spar from "../../images/spar.png";
import gylnns from "../../images/gylnns.png";
import castleHotel from "../../images/castle hotel.png";
import { Image } from "astro:assets";
---

<Layout title="Our Sponsors" />
<header>
  <div class="container">
    <div class="header">
      <h3>Our Sponsors</h3>
      <Image class="handshake" src={handshake} alt="Hardwicke Second Team" />
    </div>
    <!---Text Section -->
    <div class="content">
      <p>
        Hardwicke is supported by many local businesses who help the team to
        continue to thrive and stay on top of the league. We are greatful for
        our sponsors and are always promoting thier businesses which also helps
        them. Want to become a sponsor for our team? Get into contact with us
        and we will help promote your business!
      </p>
    </div>
  </div>

  <!---Sponsors Section-->
  <section class="sponsors">
    <div class="flexbox-container">
      <div class="flexbox">
        <!---G&D -->
        <Image class="gd-image" src={gd} alt="G & D Insulation" />
      </div>
      <h2 class="sponsor-name">G&D Insulation</h2>
      <a href="https://www.instagram.com/g_d_insulation/"
        ><p class="sponsor-link">Visit G&D Insulation</p></a
      ><!---Horizon windows -->
      <div class="flexbox">
        <Image class="horizon-image" src={horizon} alt="Horizon Windows" />
      </div>
      <h2 class="sponsor-name">Horizon Windows</h2>
      <a href="https://horizonwindows.ie/"
        ><p class="sponsor-link">Visit Horizon Windows</p></a
      ><!---Horizon Joinery-->
      <div class="flexbox">
        <Image
          class="joinery-image"
          src={horizonJoinery}
          alt="Horizon Joinery"
        />
      </div>
      <h2 class="sponsor-name">INHOUZZ Bespoke Joinery</h2>
      <a href="https://horizonwindows.ie/"
        ><p class="sponsor-link">Visit INHOUZZ Bespoke Joinery</p></a
      >
      <!---Auto Vision-->
      <div class="flexbox">
        <Image
          class="autovision-image"
          src={autovision}
          alt="AutoVision Motors"
        />
      </div>
      <h2 class="sponsor-name">AutoVision</h2>
      <a href="https://www.autovisiondublin.ie/"
        ><p class="sponsor-link">Visit AutoVision</p></a
      >
      <!---Spar-->
      <div class="flexbox">
        <Image class="spar-image" src={spar} alt="Horizon Joinery" />
      </div>
      <h2 class="sponsor-name">Spar Dorset Street</h2>
      <a href="https://www.instagram.com/spar_dorset_st/"
        ><p class="sponsor-link">Visit Spar</p></a
      >
      <!---Gylnns Wellington-->
      <div class="flexbox">
        <Image class="glynns-image" src={gylnns} alt="The Wellington Pub" />
      </div>
      <h2 class="sponsor-name">The Wellington Pub Dorset Street</h2>
      <a href="https://dublinsessions.ie/"
        ><p class="sponsor-link">Visit The Wellington</p></a
      >
      <!---Castle Hotel-->
      <div class="flexbox">
        <Image class="castle-image" src={castleHotel} alt="The Castlr Hotel " />
      </div>
      <h2 class="sponsor-name">The Castle Hotel</h2>
      <a href="https://www.castle-hotel.ie/"
        ><p class="sponsor-link">Visit The Castle Hotel</p></a
      >
    </div>
    <a href="../../index.html"><button>Return Home</button></a>
  </section>
</header>
<footer><Footer /></footer>
<style>
  header {
    height: 100%;
    width: 100%;
  }
  .header {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  h3 {
    color: var(--text-color-dark);
  }

  .sponsor-name {
    color: var(--text-color-light);
    margin-bottom: 3%;
    text-align: center;
  }

  .sponsor-link {
    color: var(--text-color-light);
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
  }
  .handshake {
    width: 30%;
    height: auto;
    margin: 5%;
  }

  p {
    color: var(--text-color-dark);
  }

  .content {
    padding: 0%;
  }

  .sponsors {
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    background-color: var(--main-color);
  }

  .flexbox-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    margin: 5%;
  }

  .flexbox {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 280px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
    border: solid 10px var(--secondary-color);
  }
  .horizon-image {
    height: 65%;
    width: auto;
  }
  .joinery-image {
    height: 70%;
    width: auto;
  }
  a {
    text-decoration: none;
  }

  .autovision-image {
    width: 80%;
    height: auto;
  }

  .spar-image {
    width: 80%;
    height: auto;
  }

  .glynns-image {
    width: 90%;
    height: auto;
  }

  .castle-image {
    width: 80%;
    height: auto;
  }

  /*Media Query*/

  @media only screen and (min-width: 1000px) {
    .container {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(6, 100px);
      height: 100%;
      margin-bottom: 10%;
    }
    .header {
      display: contents;
    }
    .handshake {
      display: grid;
      grid-column-start: 6;
      grid-column-end: 8;
      grid-row-start: 3;
      grid-row-end: 7;
      width: 100%;
      height: auto;
    }

    h3 {
      grid-column-start: 1;
      grid-column-end: 4;
      width: 100%;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .content {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 7;
    }

    section {
      margin-top: 10%;
    }
    .sponsors {
      padding-bottom: 0.1%;
    }
    .flexbox-container {
      padding-top: 5%;
      padding-bottom: 5%;
    }
    .flexbox {
      width: 500px;
      height: 500px;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .gd-image {
      width: 80%;
      height: auto;
    }

    .glynns-image {
      width: 100%;
      height: auto;
    }
  }
</style>
