---
const { frontmatter, url } = Astro.props;
const { title, date, author, image, description, category } = frontmatter;
import { slugify, fromatDate } from "./../js/utils";
import { Image } from "astro:assets";
---

<article class="card">
  <small>
    <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
  </small>

  <a href={url}
    ><Image
      class="image-design"
      src={image.src}
      alt={image.alt}
      width={200}
      height={200}
      format="avif"
      quality={80}
      background-size="cover"
    /></a
  >
  <div class="content">
    <h1 class="heading">{frontmatter.title}</h1>
    <p class="text">
      by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
        fromatDate(date)
      }
    </p>
  </div>
</article>

<style>
  article {
    display: flex;
    width: 90%;
    height: 100%;
    border: 5px solid var(--secondary-color);
    background-color: var(--main-color);
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: var(--text-color-light);
  }
  small {
    text-align: center;
    margin: 5%;
    color: var(--text-color-light);
  }
  .image-design {
    display: flex;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--secondary-color);
  }
  .content {
    display: flex;
    flex-direction: column;
    margin: 2%;
    text-align: center;
  }
  a {
    color: var(--text-color-light);
  }
</style>
